<a href="https://colab.research.google.com/github/AbhimanyuMandal/Machine-Learning/blob/main/Hr_comma_sep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('HR_comma_sep.csv')
df.head()

   satisfaction_level  last_evaluation  ...  Department  salary
0                0.38             0.53  ...       sales     low
1                0.80             0.86  ...       sales  medium
2                0.11             0.88  ...       sales  medium
3                0.72             0.87  ...       sales     low
4                0.37             0.52  ...       sales     low

[5 rows x 10 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder
le_Department = LabelEncoder()
le_salary = LabelEncoder()

In [6]:
df['Department_n'] = le_Department.fit_transform(df['Department'])
df['salary_n'] = le_salary.fit_transform(df['salary'])
df.head()

   satisfaction_level  last_evaluation  ...  Department_n  salary_n
0                0.38             0.53  ...             7         1
1                0.80             0.86  ...             7         2
2                0.11             0.88  ...             7         2
3                0.72             0.87  ...             7         1
4                0.37             0.52  ...             7         1

[5 rows x 12 columns]

In [7]:
df_n = df.drop(['Department','salary'],axis='columns')
df_n

       satisfaction_level  last_evaluation  ...  Department_n  salary_n
0                    0.38             0.53  ...             7         1
1                    0.80             0.86  ...             7         2
2                    0.11             0.88  ...             7         2
3                    0.72             0.87  ...             7         1
4                    0.37             0.52  ...             7         1
...                   ...              ...  ...           ...       ...
14994                0.40             0.57  ...             8         1
14995                0.37             0.48  ...             8         1
14996                0.37             0.53  ...             8         1
14997                0.11             0.96  ...             8         1
14998                0.37             0.52  ...             8         1

[14999 rows x 10 columns]

In [8]:
x=df_n.drop(['left'],axis='columns')
x

       satisfaction_level  last_evaluation  ...  Department_n  salary_n
0                    0.38             0.53  ...             7         1
1                    0.80             0.86  ...             7         2
2                    0.11             0.88  ...             7         2
3                    0.72             0.87  ...             7         1
4                    0.37             0.52  ...             7         1
...                   ...              ...  ...           ...       ...
14994                0.40             0.57  ...             8         1
14995                0.37             0.48  ...             8         1
14996                0.37             0.53  ...             8         1
14997                0.11             0.96  ...             8         1
14998                0.37             0.52  ...             8         1

[14999 rows x 9 columns]

In [9]:
y=df_n['left']
y

0        1
1        1
2        1
3        1
4        1
        ..
14994    1
14995    1
14996    1
14997    1
14998    1
Name: left, Length: 14999, dtype: int64

Training and test set

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
x_train

       satisfaction_level  last_evaluation  ...  Department_n  salary_n
9838                 1.00             0.61  ...             6         1
7689                 0.16             0.78  ...             9         0
6557                 0.80             0.80  ...             1         2
6872                 0.66             0.86  ...             2         2
820                  0.11             0.93  ...             9         1
...                   ...              ...  ...           ...       ...
5191                 0.52             0.96  ...             8         1
13418                0.49             0.65  ...             7         2
5390                 0.66             0.73  ...             8         2
860                  0.79             1.00  ...             7         1
7270                 0.98             0.86  ...             7         1

[11999 rows x 9 columns]

In [12]:
x_test

       satisfaction_level  last_evaluation  ...  Department_n  salary_n
6723                 0.65             0.96  ...             5         2
6473                 0.88             0.80  ...             0         1
4679                 0.69             0.98  ...             7         1
862                  0.41             0.47  ...             7         1
7286                 0.87             0.76  ...             3         1
...                   ...              ...  ...           ...       ...
3297                 0.61             0.74  ...             7         2
14113                0.93             0.89  ...             7         2
5514                 0.78             0.61  ...             7         2
9939                 0.89             0.76  ...             7         2
14346                0.31             0.84  ...             9         1

[3000 rows x 9 columns]

In [13]:
y_train

9838     0
7689     0
6557     0
6872     0
820      1
        ..
5191     0
13418    0
5390     0
860      1
7270     0
Name: left, Length: 11999, dtype: int64

In [14]:
y_test

6723     0
6473     0
4679     0
862      1
7286     0
        ..
3297     0
14113    0
5514     0
9939     0
14346    1
Name: left, Length: 3000, dtype: int64

Logistic Regression

In [15]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [16]:
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
model.score(x_test,y_test)

0.7573333333333333

Decision tree

In [18]:
from sklearn.tree import DecisionTreeClassifier
model1 = DecisionTreeClassifier()

In [19]:
model1.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [20]:
model1.score(x_test,y_test)

0.976

Random forest

In [30]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier(n_estimators=1000)

In [31]:
model2.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [32]:
model2.score(x_test,y_test)

0.9886666666666667

Support Vector Machine

In [39]:
from sklearn.svm import SVC
model3 = SVC(gamma='auto')

In [40]:
model3.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [41]:
model3.score(x_test,y_test)

0.946